* {
    margin: 0px;
    padding: 0px;
    color: white;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: #0C0C0D;
}

#info-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    background-color: #0C0C0D;
    /* border-style: solid; */
}

#chat-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    /* border-style: solid; */
}

#chatbox-nav {
    display: flex;
    flex-direction: row;
    border: solid;
    border-top: none;
    border-width: 1px;
    /* border-color: white; */
    height: 5%;
}

.chatbox {
    display: flex;
    width: 100%;
    height: 80%;
}

.text-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0C0C0D;
    font-size: 25px;
}

.message:first-child{
    /* padding-top: 10px; */
}

.message {
    padding-left: 10px;
}

.user-message {
    direction: rtl;
}

.message:nth-child(even) {
    background-color: #302F36;
}

#text-input {
    display: flex;
    width: 100%;
    height: 15%;
    resize: none;
    background-color: #3E4244;
    /* border-color: white; */
    font-size: 30px;
    border: none;
    outline: none;
}

#online-container {
    display: flex;
    width: 15vw;
    flex-direction: column;
}

#room-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: center;
}

#user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: center;
}

button {
    font-size: 20px;
    /* margin-top: 5px; */
    text-decoration: none;
    background: none;
    border: none;
}

.chat-button {
    border: solid;
}

.chat-button p {
    margin-left: 10px;
    margin-right: 10px;
}


#user-button {
    color: black;
}

#username-input {
    background-color: #3E4244;
    outline: none;
}

button {
    outline: none;
    cursor: pointer;
}